
.plan 
    {
      max-width: 80%;
      margin-left: 10%;
    }

.insa_img img{
  width: 100%;
}

.amic img{
  max-width: 10%;
}

.p_g{
  width: 48%;
  float: left;
  margin-left: 2%;
  margin-bottom: 4%;
  display: inline-block;
}

.k_d{
  width: 48%;
  float: right;
  margin-bottom: 3%;
  display: inline-block;
}

.centwidth{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 3%;
}