
 :root {
     --blue: #007bff;
     --indigo: #6610f2;
     --purple: #6f42c1;
     --pink: #e83e8c;
     --red: #dc3545;
     --orange: #fd7e14;
     --yellow: #ffc107;
     --green: #28a745;
     --teal: #20c997;
     --cyan: #17a2b8;
     --white: #fff;
     --gray: #6c757d;
     --gray -dark: #343a40;
     --primary: #007bff;
     --secondary: #6c757d;
     --success: #28a745;
     --info: #17a2b8;
     --warning: #ffc107;
     --danger: #dc3545;
     --light: #f8f9fa;
     --dark: #343a40;
     --breakpoint-xs:0;
     --breakpoint-sm:576px;
     --breakpoint-md:768px;
     --breakpoint-lg:992px;
     --breakpoint-xl:1200px;
     --font-family-sans-serif:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans - serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     --font-family-monospace:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace 
}

 *,: : after,: :before {
     box-sizing:border-box 
}
 html {
     font-family:sans-serif;
     line-height:1.15;
     -webkit-text-size-adjust:100 %;
     -webkit-tap-highlight-color:transparent 
}
 article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
     display:block 
}
 body {
     margin:0;
     font-family:-apple -system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans - serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     font-size:1rem;
     font-weight:400;
     line-height:1.5;
     color: #212529;
     text-align:left;
     background-color: #fff 
}
[tabindex = "-1"]:focus {
     outline:0 ! important 
}
 hr {
     box-sizing:content-box;
     height:0;
     overflow:visible 
}

 h1, h2, h3, h4, h5, h6 {
     margin-top:0;
     margin-bottom:.5rem 
}
p {
     margin-top:0;
     margin-bottom:1rem 
}


h1, h2, h3, h4, h5, h6 {
     margin-bottom:.5rem;
     font-weight:500;
     line-height:1.2 
}

.h2, h2 {
     font-size:2rem 
}






/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }








.head
{
	width: 100%;
	height: 100px;
	background-color: red;
}

/*---------------Accueil--------------------*/
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*-------gestion flex-box----*/
/*---ordinateur----*/
.flex-row > div {
  width: 44%;
}

/*-----tablette-----*/
@media(max-width: 1130px) and (min-width: 699px){

  .flex-row > .Cadre1_g
  {
    width: 100%;
    margin-left: 0;
  }

  .flex-row > .Cadre1_d
  {
    width: 100%;
    margin-right: 0;
  }
}
/*----portable-----*/
@media(max-width:699px) {
  .flex-row > div {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

/*------Gestion des cadres-----*/
.cadre1
{
display: inline-block;
float:left;
width: 44%;
margin-left:1%;
margin-right:1%;
margin-top: 1%;
margin-bottom: 2%;

padding-top: 1%;
padding-bottom: 1%;
padding-left: 2%;
padding-right: 2%;

background-color: rgb(250,250,250); 
}

.cadre1 h1
{
  text-align: center;
  padding-bottom: 2%;
}

.cadre1 p
{
  text-indent: 2em
}

.Cadre_d
{
  display: inline-block;
  float: right;
  margin-right: 5%;
  width: 40%;
  margin-bottom: 2%;
}

.Cadre_d p{
  font-size: 10px;
}

.Cadre1_g
{
  display: inline-block;
  float:left;
  width: 49%;
  margin-left: 1%;
  margin-bottom: 2%;
}

.Cadre1_d
{
  display: inline-block;
  float: right;
  width: 49%;
  margin-right: 1%;
  margin-bottom: 2%;
}

/*-----Gestion polaroid-----*/
div.polaroid{
  padding: 2% 2% 4% 2%;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

div.polaroid_1 {
  width: 90%;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.flex-row a{
    color: black;
}

.caption {
  text-align: center;
  text-decoration: underline white;
}

.cadre1 p{
  text-align: left;
}

.Cadre_d h1
{
  text-decoration: none;
}

/*-------portable-----*/
@media(max-width: 380px)
{
  div.polaroid{
    width: 90%;
    margin-left: 1%;
    margin-bottom: 1%;
  }
}

/*-------tablette et ordinateur-----*/
@media(min-width: 380px){

  div.polaroid{
    width: 45%;
  }
  div.rotate_right {
    float: left;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
  }

  div.rotate_left {
    float: left;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
  }

  .center
  {
    padding: 2em;
  }

}

/*
@media only screen and (max-width: 35em) {
    .Cadre1,.Cadre2 {
        width: 100%;
    }
}
*/

/* ----------**********------------------*********-------- */
/*----------Général--------*/
#contenu 
{
    margin-top : 0.5%;
    margin-bottom: 0.5%;
    background-color: rgb(250,250,250); 
}

#texte
{
  padding: 3% 3% 0% 3%;
}

#texte ul 
{
  margin-left: 3%;
}

#texte h1
{
  text-align: center;
  padding-bottom: 2%;
}

#img_top
{
 display: block;
 width: 100%;
}

p a
{
  color :black;
}

/*--------------Contact------*/
.pdp
{
  border-radius: 50%;
  width: 50%;
}

.pdp_last
{
  border-radius: 50%;
  width: 50%;
  margin-left: auto;
}

figure
{
  display: inline-block;
  width: 45%;
  text-align: center;
  vertical-align: middle;
  margin: 1%;
  padding: 1%;
}

/*-----------Ordinateur----------*/
@media only screen and (min-width: 699px) {

  #texte p{
    text-indent: 2em;
  }

/* ------ insa ---------*/
    #contenu{
      margin-left: 15%;
      margin-right: 15%;
    }

    #plan ,#legende
    {
      margin-left: 20%;
      width: 40%;
      max-height: 100%;
    }

    #plan:hover, #legende:hover
    {
      margin-left: 0%;
      width:100%;
    }

}

/*-----------Portable---------------*/
@media only screen and (max-width: 699px) {

  #texte p 
  {
    font-size: 12px;
    text-decoration: none;
    text-indent: 1em;
  }

  #texte li
  {
    font-size: 12px;
  }

  .cadre1 p{
    font-size: 12px;
  }

  h1
  {
    font-size: 20px;
  }
  /*----contact-----*/
  figcaption{
    font-size: 12px
  }
  /* ------ insa ---------*/
    #plan ,#legende
    {
      max-width: 100%;
      max-height: 100%;
    }
}



/* ----------******----- fin INSA + contact------*********---*/

/* -------------****************---------NavBar--------*************************-------- */

/*-----------Ordinateur----------*/
@media only screen and (min-width: 699px) {

    .logo
    {
      height: 80px;
      float: left;
    }
    .logo img
    {
      margin: 0.6em 2em 1em 1em;
      max-width: 50px;
    }

    nav ul
    {
      margin: 0px;
      padding: 0px;
      overflow: hidden;
    }

    nav li
    {
      list-style-type: none;
      float: left;
      font-size: 14px;
    }

    nav
    {
      width: 100%;
      background-color: #292c2f;
    }

    nav a
    {
      display: inline-block;
      text-decoration: none;
      padding: 30px 30px;
      color : #ffffff;
    }

    .actif a
    {
      color: rgb(251,126,54);
    }
    
    nav li:hover a 
    {
      /*padding: 25px 30px 20px 30px;*/
      color: rgb(251,126,54);
    }

    #menu
    {
      display: none;
    }

    #titre
    {
      display: none;
    }
}
@media only screen and (max-width: 910px) {
  nav a
      {
        display: inline-block;
        text-decoration: none;
        padding: 30px 15px;
        color : #ffffff;
      }
}
/*-----------Portable---------------*/
@media only screen and (max-width: 699px) {
    .logo
    {
      float: left;
      
    }
    .logo img
    {
      margin: 0.6em 2em 1em 1em;
      width: 10%;
    }

    #menu{
      float: right;
      margin-right: 5%;
      width: 20%;
      border-radius: 5%;
    }

    #titre
    {
      display: inline-block;
      text-align: center;
      margin-top: 0;
      color:white;
    }

    nav
    {
      display: inline-block;
      margin-top: 0;
      float: left;
      width: 100%;
      background-color: #292c2f;
    }

    nav li
    {
     max-height:0;
     /*overflow: hidden;*/
    }

    nav a
    {
      padding: 0 0 ;
    }

    nav li a {
      display:block;
      padding-bottom: 0;
      text-align: center;
      text-decoration: none;
      color: white;
      font-size:0.8em;
    }

    nav li:hover a 
    {
      color: rgb(251,126,54);
    }
    nav:hover .actif a 
    {
      color: rgb(251,126,54);
    }

    nav:hover{
      transition: all .5s;
    }
    nav:hover li{
      max-height: 300%;
    }

}




